html
    include headHtml
    
    body.d-flex.flex-column.h-100

        include header

        main.flex-shrink-0(role="main" style="padding-top: 100px")
            // Retour d'erreur
            if locals.retour
                aside.container
                    .row.justify-content-center
                        if retour.error
                            .col-md.alert.alert-dismissible.alert-danger
                                button.close(type='button', data-dismiss='alert') ×
                                p=retour.error
                        else if retour.success
                            .col-md.alert.alert-dismissible.alert-success
                                button.close(type='button', data-dismiss='alert') ×
                                p=retour.success

            // Bloc principal
            .container
                // Titre
                block title
                    .row.justify-content-center
                        .col-auto.p-4
                            h1=title
                // Contenu
                block content

        include footer