extends ../../struct/layout

append content
    form.container-fluid(action="/joueurs" method="POST" id="joueursForm")
        .row.justify-content-center
            .col-8.form-group
                label(for="nom") Nom
                input#nom(type="text" class="form-control" name="nom" value=joueur.nom)

        .row.justify-content-center
            .col-8.form-group
                label(for="prenom") Prenom
                input#prenom(type="text" class="form-control" name="prenom" value=joueur.prenom)

        .row.justify-content-center
            .col-8.form-group
                label(for="dateNaiss") Date de naissance
                input#dateNaiss(type="date" class="form-control" name="dateNaiss" value=joueur.dateNaiss)

        .row.justify-content-center
            .col-8.form-group
                label(for="mail") Mail
                input#mail(type="text" class="form-control" name="mail" value=joueur.mail)

        .row.justify-content-center
            .col-8
                button.btn.btn-primary(type="submit") Envoyer