extends ../../struct/layout

append content
    form.container-fluid(action="/joueurs"+put method="POST" id="joueursForm")
        .row.justify-content-center
            .col-md-8.form-group
                label(for="nom") Nom
                input#nom(type="text" class="form-control" name="nom" value=joueur.nom required)

        .row.justify-content-center
            .col-md-8.form-group
                label(for="prenom") Prenom
                input#prenom(type="text" class="form-control" name="prenom" value=joueur.prenom required)

        .row.justify-content-center
            .col-md-8.form-group
                label(for="dateNaiss") Date de naissance
                input#dateNaiss.date-formate(type="date" class="form-control" name="dateNaiss" value=joueur.datef required)

        .row.justify-content-center
            .col-md-8.form-group
                label(for="mail") Mail
                input#mail(type="email" class="form-control" name="mail" value=joueur.mail)

        .row.justify-content-between.p-2
            .col-md-2
            button.col-md-3.btn.btn-primary(type="submit") Envoyer
            a.col-md-3.btn.btn-secondary.btn-lg(href='/joueurs' role='button') Retour
            .col-md-2