html
    include headHtml
    
    body.d-flex.flex-column.h-100

        include header

        main.flex-shrink-0(role="main" style="padding-top: 100px")
            .container
                block content

        include footer