extends ../struct/layout

append content
    .row
        .col
            .card.bg-danger.mb-3.p-4
                .card-header.d-flex.justify-content-center
                    h2.text-white #{status}
                .card-body
                    pre.card-text.text-white #{msg}