extends ../../struct/layout

append content
    .jumbotron
        h2.display-3 #{joueur.prenom} #{joueur.nom}
        p.lead Né le #{joueur.dateNaiss}
        adress.lead mail : #{joueur.mail}
        
        hr.my-4
        p Description matchs
        p.lead
            a.btn.btn-primary.btn-lg(href='#', role='button') Inscrire